<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1" />
    <meta content="Experiencia PetStar" name="description">

    <title>Experiencia Petstar</title>

    <link rel="icon" type="image/x-icon" href="~/favicon.jpeg" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/parallax")

    @RenderSection("Scripts", required: false)
</head>
<body>

    @RenderBody()
    @RenderSection("SPAViews", required: false)

</body>
</html>
